@use 'colors';

footer {
    position: absolute;
    bottom: 0;
    width: 98.5%;
    margin: 0 0.75%;
    height: 30px;
    padding-top: 15px;
    text-align: center;
    border-top: 1px solid colors.$silver;
}