<nav>
    <a href="/"><img src="/images/SquareImagePlaceholder.png"></a>
    <ul>
        <li><a href="/order"><button>Order</button></a></li>
        <li><a href="/contact"><button>Contact</button></a></li>
        <li><a href="/about"><button>About</button></a></li>
    </ul>
</nav>