<nav>
    <div id="navFlexboxContainer">
        <a href="/"><img src="/images/SquareImagePlaceholder.png"></a>
        <ul>
            <li><a href="/order"><h2>Order</h2></a></li>
            <li><a href="/about"><h2>About</h2></a></li>
            <li><a href="/contact"><h2>Contact</h2></a></li>
        </ul>
    </div>
</nav>