<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <main>
        <% if (user.username != undefined) { %>
            <h2>Logged In!</h2>
            <h3><%- user.username %> </h3>
        <% } %>
        <% if (user.isAdmin) { %> 
            <h3>Admin</h3>
        <% } %> 
        <div class="slideshow-container">
            <div class="mySlides fade"><img src="images/640x360.png" style="width:100%"></div>
            <div class="mySlides fade"><img src="images/640x360-2.png" style="width:100%"></div>
            <div class="mySlides fade"><img src="images/640x360-3.png" style="width:100%"></div>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a> <a class="next" onclick="plusSlides(1)">&#10095;</a> 
        </div>
        <br>
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span> 
            <span class="dot" onclick="currentSlide(2)"></span> 
            <span class="dot" onclick="currentSlide(3)"></span> 
        </div>

        <script src="/scripts/slideshow.js"></script>
    </main>

    <%- include('./partials/footer.ejs') %>
</body>
</html>