<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
    <%- include('./partials/nav.ejs') %>

    <% if (error === 'invalidUsername') { %>
        <h2>Wrong Username</h2>
    <% } else if (error === 'invalidPassword') { %>
        <h2>Wrong Password</h2>
    <% } %> 
    <form method="POST" action="/api/login">
        <input type="text" name="username" id="username" placeholder="Username: ..." required><br>
        <input type="password" name="password" id="password" placeholder="Password: ..." required><br>
        <input type="submit" value="Login">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>
</html>